@font-face {
    font-weight: 400;
    font-family: PT_Mono;
    src: url("fonts/PT_Mono/PTMono-Regular.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Tilda Sans;
    src: url("fonts/tilda_sans/tilda-sans_regular.ttf")
}

h2 {
    font-weight: 400;
}

body {
    background-color: #05050A;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    border-bottom: solid #FFFFFF 1px;
    display: flex;
    justify-content: center;
}

.header {
    width: 1280px;
    display: flex;
    align-items: center;
    margin: 22px 33px;
    justify-content: space-between;
}

.header a {
    font-family: Tilda Sans;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 15.54px;
}

.navigation {
    display: flex;
    width: 489px;
    justify-content: space-between;
}

.header_logo {
    width: 81.33px;
    height: 19.33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/FAVIAS.png");
}

.heart {
    background-image: url("img/heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 341px;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 1280px;
    margin-top: 250px;
}

.project p {
    font-family: PT_Mono;
    color: #F7F7F7;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project p span {
    align-self: end;
    margin-right: 110px;
}

.value {
    width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 340px;
}

.value h2 {
    font-family: PT_Mono;
    color: #F7F7F7;
    font-size: 36px;
    line-height: 46px;
    border-bottom: solid #404454 1px;
    width: 100%;
    text-align: center;
    height: 73px;
    margin-bottom: 0px;
}
.left-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left {
    width: 580px;
    display: flex;
    flex-direction: column;
}

.list {
    width: 100%;
}

.list div {
    border-bottom: solid #595E75 1px;
    display: flex;
    align-items: center;
    width: 100%;
}

.list p {
    font-family: Tilda Sans;
    font-size: 14px;
    line-height: 15.54px;
    color: #FFFFFF;
}

.list span {
    font-family: Tilda Sans;
    color: #595E75;
    font-size: 14px;
    line-height: 15.54px;
    margin-right: 60px;
}

.value_text {
    font-family: PT_Mono;
    font-size: 36px;
    line-height: 54px;
    color: #F7F7F7;
    text-transform: uppercase;
}

.show {
    margin-top: 149px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.show_p {
    color: #FFFFFF;
    font-family: PT_Mono;
    font-size: 14px;
    line-height: 15.54px;
    text-transform: uppercase;
}

.show_img {
    background-image: url("img/image\ 4.png");
    width: 380px;
    height: 572.41px;
    background-repeat: no-repeat;
    background-size: contain;
}

.episode {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 165px;
    top: 45px;
}

.episode p {
    margin-left: 34px;
}

.lil_foot {
    font-family: Tilda Sans;
    font-size: 14px;
    line-height: 18.2px;
    color: #595E75;
    align-self: center;
}

.portfolio {
    width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 244px;
}

.portfolio h2 {
    font-family: PT_Mono;
    color: #F7F7F7;
    font-size: 36px;
    line-height: 46px;
    border-bottom: solid #404454 1px;
    width: 100%;
    text-align: center;
    height: 73px;
    margin-bottom: 0px;
}

.ladder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    width: 100%;
    position: relative;
}

.stage {
    display: flex;
    flex-direction: row;
}
.stage p {
    margin-top: 0;
    margin-bottom: 0;
}

.stage_small {
    font-family: Tilda Sans;
    font-size: 14px;
    line-height: 15.54px;
    color: #404454;
    align-self: start;
    margin-right: 22px;
    position: relative;
    top: 10px;
}

.stage_big {
    font-family: PT_Mono;
    font-size: 36px;
    line-height: 54px;
    color: #F7F7F7;
    text-transform: uppercase;
}

.stage_left {
    align-self: start;
}

.stage_center {
    position: relative;
    left: 90px;
}

.stage_right {
    align-self: end;
}

.vector1 {
    position: absolute;
    background-image: url("img/Vector\ 2392.png");
    width: 257px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 30px;
}

.vector2 {
    position: absolute;
    background-image: url("img/Vector\ 2393.png");
    width: 195px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 290px;
    top: 84px;
}

.footage {
    width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    position: relative;
}

.footage .title {
    font-family: PT_Mono;
    font-size: 14px;
    line-height: 15.54px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
}

.footage .about_text {
    font-family: Tilda Sans;
    font-size: 14px;
    line-height: 15.54px;
    color: #595E75;
    margin-top: 10px;
}

.footage .item {
    font-family: Tilda Sans;
    font-size: 14px;
    line-height: 15.54px;
    color: #FFFFFF;
    margin: 0;
}

.hoodie {
    background-image: url("img/Mask\ group\(1\).png");
    width: 780px;
    height: 531px;
    background-repeat: no-repeat;
    background-size: contain;
}

.container1 {
    width: 980px;
    height: 531px;
    align-self: start;
    position: relative;
}

.container1 .about {
    position: absolute;
    left: 0px;
    top: 0px;
}

.container1 .hoodie {
    position: absolute;
    right: 0px;
    top: 0px;
}

.container1 .item {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.t_shirt {
    background-image: url("img/Group\ 1549803685.png");
    width: 480px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: contain;
}

.t_shirt_photo {
    background-image: url("img/ысфысфыс\ 1.png");
    width: 480px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: contain;
}

.container2 {
    align-self: end;
    width: 580px;
    height: 528px;
    position: relative;
    bottom: 240px;
}

.container2 .about {
    position: absolute;
    bottom: 79px;
}

.container2 .t_shirt {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.container2 .item {
    position: absolute;
    right: 36px;
    top: 0px;
}

.nick {
    background-image: url("img/Group 1549803687.png");
    width: 580px;
    height: 258px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nick_photo {
    background-image: url("img/IMG_3170-PhotoRoom 1.png");
    width: 400px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: contain;
}

.container3 {
    width: 685px;
    height: 258px;
    position: relative;
    align-self: start;
    bottom: 420px;
}

.container3 .nick {
    position: absolute;
    left: 0px;
    top: 0px;
}

.container3 .about {
    position: absolute;
    right: 0px;
    bottom: 43px;
}